@import "../../../assets/styles/styles";

.catalogList {
  width: 16.9rem;
  margin-top: 1.8rem;
  transition: 0.2s;
  &:hover {
    opacity: 0.5;
  }
  @media screen and (max-width: 1199px) and (min-width: 767px) {
    width: calc(50% - 15px);
    margin: 0;
    margin-top: 1.25rem;
  }
  @media screen and (max-width: 767px) and (min-width: 250px) {
    width: 100%;
  }
  .productLink {
    position: relative;
    display: block;
    min-height: 21.9rem;
    outline: 0;
    transition: 0.2s;
    text-decoration: none;
    .productImage {
      width: 100%;
      height: 100%;

    }
    .productWrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.3rem;
      max-width: 86%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 1.25rem;
      .productText {
        display: flex;
        justify-content: space-between;
        .productTitle {
          margin: 0;
          @include font_2;
          font-weight: normal;
          font-size: 1rem;
          color: #122947;
        }
        span {
          @include font_4;
          font-weight: normal;
          font-size: 0.8rem;
          color: #122947;
        }
      }
      .productDescription {
        @include font_3;
        font-weight: normal;
        font-size: 0.8rem;
        color: #9a9da0;
      }
    }
  }
}


