@import "../../assets/styles/styles";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 320px;
  padding: 2.4rem 6.10rem;
  width: 100%;
  border-bottom: 1px solid #dbdce0;
  transition: 0.3s;
  @media screen and (max-width: 1199px) and (min-width: 767px) {
    padding: 2.5rem 2.8rem;
  }
  @media screen and (max-width: 767px) and (min-width: 250px) {
    height: 4.9rem;
    padding: 2.5rem 1.5rem;
  }
  .burgerMenu {
    background: url("../../assets/svg/sprite/burger-icon.svg") no-repeat left center/24px 12px transparent;
    padding: 0;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    outline: 0;
    @media screen and (max-width: 1199px) and (min-width: 767px){
      display: block;
      width: 1.5rem;
      height: 1.2rem;
      margin-right: 2.5rem;
    }
    @media screen and (max-width: 767px) and (min-width: 250px) {
      width: 1.4rem;
      height: 0.9rem;
      margin-right: 1.6rem;
      background-size: 1.4rem 0.7rem;
    }
  }
  .burger_menu:focus,
  .burger_menu:active,
  .burger_menu:hover {
    opacity: 0.5;
    transition: 0.2s;
  }
  .logo {
    margin-right: auto;
    @media screen and (max-width: 1199px) and (min-width: 767px){
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) and (min-width: 250px){
      margin: 0 auto;
      text-align: center;
      img {
        width: 60%;
      }
    }
  }
  .navigate {
    display: flex;
    .navigationList {
      display: flex;
    }
    .navigationData {
      display: flex;
      @media screen and (max-width: 767px) and (min-width: 250px) {
        &:nth-child(1) {
          margin-right: 0 -0.6rem 0 0;
        }
        img {
          width: 0.8rem;
        }
      }
      .paddingRight {
        padding-right: 30px;
        @media screen and (max-width: 767px) and (min-width: 250px) {
          padding-right: 15px;
        }
        .changeMyColor {
          fill: #122947;
        }
      }
    }
  }
}

.headerColored {
  background-color: white;
}

.headerTransparent {
  background: 0 0;
  border-color: transparent;
}

.isActiveNavbar {
  display: block!important;
}

.burger_menu_active {
  background: url('../../assets/svg/sprite/cross-icon.svg');
  @media screen and (max-width: 767px) and (min-width: 250px ){
    background-size: 0.9rem 0.9rem;
  }
}