@import "../../../../assets/styles/styles";

.filterBlock {
  width: auto;
  position: relative;
  margin: 5px 0;
  padding: 10px 0;
  font-size: 18px;
  @include font_4;
  height: auto;
  color: #122947;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    bottom: -1px;
    right: 0;
    position: absolute;
    background-color: #dbdce0;
  }
  div {
    justify-content: space-between;
    display: flex;

    .accordionLogo {
      font-size: 20px;
    }
  }
}
