@import '../../assets/styles/styles';

.mainBlock {
  margin-bottom: 8.8rem;
  @media screen and (max-width: 1199px) and (min-width: 767px) {
    margin-bottom: 7.5rem;
  }
  @media screen and (max-width: 767px) and (min-width: 250px) {
    margin-bottom: 4.3rem;
  }
}

.follow {
  @media screen and (max-width: 1199px) and (min-width: 767px) {
    padding: 0 2.8rem;
  }
  @media screen and (max-width: 767px) and (min-width: 250px) {
    padding: 0 0.9rem;
  }
  .followContainer {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    @media screen and (max-width: 1199px) and (min-width: 767px) {
      align-items: flex-start;
      justify-content: space-between;
    }
    @media screen and (max-width: 767px) and (min-width: 250px) {
      flex-direction: column-reverse;
    }
    .followImageWrapper {
      background: #f1efeb;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 699px;
      @media screen and (max-width: 1199px) and (min-width: 767px) {
        width: 354px;
        min-width: 354px;
        max-width: 354px;
      }
      @media screen and (max-width: 767px) and (min-width: 250px) {
        width: 100%;
        min-width: 0;
        max-width: none;
      }
    }
    @media screen and (max-width: 767px) and (min-width: 250px) {
      .followImageWrapper > div {
        width: 50%;
      }
    }
    @media screen and (max-width: 1199px) and (min-width: 767px) {
      .followImageWrapper > div:nth-child(3n+1) {
        display: none;
      }
    }
    @media screen and (max-width: 767px) and (min-width: 250px) {
      .followImageWrapper > div:nth-child(3n+1) {
        display: none;
      }
    }
    .followContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 71px;
      height: 188px;
      @media screen and (max-width: 1199px) and (min-width: 767px) {
        margin-left: 3rem;
        padding-top: 3rem;
      }
      @media screen and (max-width: 767px) and (min-width: 250px) {
        align-items: center;
        padding: 0;
        margin: -0.5rem auto 6.5rem;
      }
      .followTitle {
        @include font_2;
        margin: 0 0 0.9rem;
        font-size: 2rem;
        line-height: 1.3;
        font-weight: 500;
        @media screen and (max-width: 767px) and (min-width: 250px) {
          text-align: center;
          font-size: 1.75rem;
          line-height: 1.25;
          margin-bottom: 0.7rem;
        }
      }
      .followText {
        @include font_3;
        font-size: 1.1rem;
        margin: 0;
        max-width: 23.8rem;
        @media screen and (max-width: 767px) and (min-width: 250px) {
          padding: 0 0.3rem;
          text-align: center;
        }
      }
      .followLink {
        margin-top: 2rem;
        padding: 0.7rem 2.6rem;
        text-decoration: none;
        @media screen and (max-width: 767px) and (min-width: 250px) {
          margin-top: 1.5rem;
          padding: 0.7rem 1.6rem;
        }
      }
    }
  }
}

.button {
  @include button;
}