@import '../../assets/styles/styles';

.mainBlock {
  margin-bottom: 140px;
  @media (max-width: 1199px) {
    margin-bottom: 120px;
  }
  @media (max-width: 767px) {
    margin-bottom: 70px;
  }
}

.follow {
  @media (max-width: 1199px) {
    padding: 0 45px;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
  .followContainer {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    @media (max-width: 1199px) {
      align-items: flex-start;
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
    .followImageWrapper {
      background: #f1efeb;
      display: flex;
      flex-wrap: wrap;
      width: 699px;
      max-width: 699px;
      @media (max-width: 1199px) {
        width: 354px;
        min-width: 354px;
        max-width: 354px;
      }
      @media (max-width: 767px) {
        width: 100%;
        min-width: 0;
        max-width: none;
      }
      .followImage {
        width: 100%;
        height: 233px;
        object-fit: cover;
        object-position: center;
        @media (max-width: 1199px) {
          height: 177px;
        }
        @media (max-width: 767px) {
          height: auto;
          width: 100%;
        }
      }
    }
    @media (max-width: 767px) {
      .followImageWrapper > div {
        width: 50%;
      }
    }
    @media (max-width: 1199px) {
      .followImageWrapper > div:nth-child(3n+1) {
        display: none;
      }
    }
    .followContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 71px;
      height: 188px;
      @media (max-width: 1199px) {
        margin-left: 48px;
        padding-top: 49px;
      }
      @media (max-width: 767px) {
        align-items: center;
        padding: 0;
        margin: -8px auto 74px;
      }
      .followTitle {
        @include font_2;
        margin: 0 0 15px;
        font-size: 32px;
        line-height: 1.3;
        font-weight: 500;
        @media (max-width: 767px) {
          text-align: center;
          font-size: 28px;
          line-height: 1.25;
          margin-bottom: 12px;
        }
      }
      .followText {
        @include font_3;
        font-size: 18px;
        margin: 0;
        max-width: 381px;
        @media (max-width: 767px) {
          padding: 0 5px;
        }
      }
      .followText:not(:last-of-type) {
        margin-bottom: 1em;
      }
      .followLink {
        margin-top: 33px;
        padding: 12px 33px;
        text-decoration: none;
        @media (max-width: 767px) {
          margin-top: 24px;
          padding: 12px 27px;
        }
      }
    }
  }
}

.button {
  @include button;
}