@import "../../assets/styles/styles";

.isActiveFilter {
  display: block!important;
}

.catalogMain {
  background: #f8f8f6;
  position: relative;
}

.main {
  flex-grow: 1;
  margin-top: 6.2rem;
  @media screen and (max-width: 767px) and (max-width: 250px){
    margin-top: 4.7rem;
  }
  .catalog {
    padding-bottom: 3.7rem;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1199px) and (min-width: 767px){
      z-index: 1;
    }
    @media screen and (max-width: 767px) and (min-width: 250px) {
      padding: 0 1rem;
      z-index: 1;
    }
    .catalogTopHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1199px) and (min-width: 767px){
        padding: 0 2.5rem;
      }
      @media screen and (max-width: 767px) and (min-width: 250px) {
        padding: 0;
      }
      .catalogTitle {
        @include font_2;
        font-weight: normal;
        font-size: 2.2rem;
        color: #122947;
        @media screen and (max-width: 767px) and (min-width: 250px) {
          font-size: 1.7rem;
        }
      }
      .catalogHeadButtonOpen {
        border: 1px solid #748193;
        padding: 0.4rem 1.6rem 0.6rem;
        cursor: pointer;
        background: 0 0;
        margin: 0;
        @include font_4;
        font-size: 1rem;
        min-width: 8.8rem;
        transition: 0.2s;
        color: black;
        &:active,
        &:focus,
        &:hover {
          border: 1px solid black;
        }
      }
    }
    .catalogFilter {
      position: absolute;
      margin-bottom: 1.2rem;
      left: 0;
      right: 0;
      z-index: 10;
      opacity: 1;
      pointer-events: auto;
      transition: 0.15s opacity;
      background-color: #f8f8f6;
      box-sizing: border-box;
    }
  }
  .catalogWrapper {
    width: 100%;
    max-width: 1170px;
    .catalogList {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: auto;
      @media screen and (max-width: 1199px) and (min-width: 767px) {
        width: 92%;
        margin: 0 auto;
      }
    }
    .catalogPosition {
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 1199px) and (min-width: 767px){
        padding: 0 2.5rem;
      }
      .catalogNumberPosition {
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-size: 1.2rem;
        padding-left: 7rem;
        @media screen and (max-width: 767px) and (min-width: 250px){
          margin-left: 0;
          padding-left: 0;
        }
        p:nth-child(2) {
          width: 3rem;
          height: 1px;
          background-color: black;
          margin: 0 8px;
          margin-top: 3px;
          @media screen and (max-width: 767px) and (min-width: 250px){
            width: 2rem;
          }
        }
      }
      .catalogArrowPosition {
        display: flex;
        align-items: center;
        .sliderButton {
          z-index: 0;
          transition: 0.2s;
          outline: 0;
          img {
            cursor: pointer;
          }
        }
        .sliderButtonPrev {
          padding: 2rem;
        }
      }
    }
  }
  .historyCatalog {
    padding-bottom: 3.7rem;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .historyTitle {
      @include font;
      font-weight: normal;
      margin: 0 auto;
      font-size: 1.2rem;
    }
    .historyCatalogView {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: auto;
      @media screen and (max-width: 1199px) and (min-width: 767px) {
        width: 92%;
        margin: 0 auto;
      }
      @media screen and (max-width: 767px) and (min-width: 250px) {
        width: 92%;
        margin: 0 auto;
      }
    }
    .historyPosition {
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 1199px) and (min-width: 767px) {
        padding: 0 2.5rem;
      }
      @media screen and (max-width: 767px) and (min-width: 250px) {
        padding: 0 2.5rem;
      }
      .historyNumberPosition {
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-size: 1.2rem;
        padding-left: 7rem;
        @media screen and (max-width: 767px) and (min-width: 250px){
          margin-left: 0;
          padding-left: 0;
        }
        p:nth-child(2) {
          width: 3rem;
          height: 1px;
          background-color: black;
          margin: 0 8px;
          margin-top: 3px;
          @media screen and (max-width: 767px) and (min-width: 250px){
            width: 2rem;
          }
        }
      }
      .historyArrowPosition {
        display: flex;
        align-items: center;
        .sliderButton {
          z-index: 0;
          transition: 0.2s;
          outline: 0;
          img {
            cursor: pointer;
          }
        }
        .sliderButtonPrev {
          padding: 2rem;
        }
      }
    }
  }
}



