@import "../../../src/assets/styles/styles";

.nav {
  display: flex;
  @media screen and (max-width: 1199px) and (min-width: 767px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    background-color: #f8f8f6;
    transition: 0.15s opacity;
    box-shadow: 0 4px 30px rgb(214 214 214 / 19%);
    display: none;
    z-index: -1;
  }
  @media screen and (max-width: 767px) and (min-width: 250px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    background-color: #f8f8f6;
    transition: 0.15s opacity;
    box-shadow: 0 4px 30px rgb(214 214 214 / 19%);
    display: none;
  }
  .item {
    @media screen and (max-width: 1199px) and (min-width: 767px) {
      display: flex;
      flex-direction: column;
      padding: 1.8rem 2.8rem;
      font-weight: 500;
      cursor: pointer;
    }
    @media screen and (max-width: 767px) and (min-width: 250px) {
      display: flex;
      flex-direction: column;
      padding: 1.8rem 0.6rem;
      font-weight: 500;
      cursor: pointer;
    }
    .link {
      margin: 0 2.5rem 0 0;
      text-decoration: none;
      @include font_3;
      color: #122947;
      outline: 0;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: #dbdce0;
      }
      @media screen and (max-width: 1199px) and (min-width: 767px) {
        @include font;
        font-weight: 500;
        font-size: 1.9rem;
        padding: 1.25rem;
      }
      @media screen and (max-width: 767px) and (min-width: 250px) {
        @include font;
        font-weight: 500;
        font-size: 1.9rem;
        padding: 0.75rem 0.70rem;
      }
    }
  }
  .contacts {
    display: none;
    @media screen and (max-width: 1199px) and (min-width: 767px){
      display: flex;
      padding: 0.6rem 3.8rem 3.8rem;
      .socialItem:not(:first-child) {
        margin-left: 1.25rem;
      }
    }
    @media screen and (max-width: 767px) and (min-width: 250px){
      display: flex;
      padding: 0.6rem 0.8rem 3.8rem;
      .socialItem:not(:first-child)  {
        margin-left: 1.25rem;
      }
    }
  }
}
