@import "../../assets/styles/styles";

.bannerTitle {
  margin: 0 0 1.1rem;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: normal;
  text-align: left;
  @include font;
  @media screen and (max-width: 1199px) and (min-width: 767px){
    margin-bottom: 0.9rem;
  }
  @media screen and (max-width: 767px) and (min-width: 250px){
    width: 100%;
    max-width: 250%;
    margin-bottom: 0.8rem;
    text-align: center;
    font-size: 1.7rem;
  }
}

.bannerDescription {
  @include font_3;
  margin: 0;
  width: 18.7rem;
  font-size: 1rem;
  text-align: left;
  @media screen and (max-width: 767px) and (min-width: 250px) {
    padding: 0 0.6rem;
    width: 100%;
    max-width: 16.2rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }
}

.bannerLink {
  margin: 1.8rem 0 0;
  text-decoration: none;
  font-size: 1.8rem;
  @media screen and (max-width: 1199px) and (min-width: 767px) {
    margin-top: 2.1rem;
  }
  @media screen and (max-width: 767px) and (min-width: 250px) {
    margin-top: 1.4rem;
  }
}

.button {
  @include button;
}
