@import '../../../../assets/styles/styles';

.textDecoration {
  text-decoration: none;
}

.promoCardImage {
  background: #ede7e1;
  display: block;
  width: 330px;
  height: 422px;
  object-fit: cover;
  object-position: center;
  @media (max-width: 1199px) {
    height: auto;
    width: 100%;
  }
  @media (max-width: 767px) {
    height: calc((50vw - 30px) / (130 / 170));
    width: 100%;
    min-width: 130px;
  }
}

.promoCardText {
  @include  font_3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0;
  color: #122947;
  transition: 0.2s;
  @media (max-width: 767px) {
    margin-top: 7px;
    font-size: 12px;
  }
}

.promoCardIcon {
  height: 12px;
  width: 26px;
  @media (max-width: 767px) {
    height: 10px;
    width: 23px;
  }
}

.promoHover:active > .promoCardText,
.promoHover:focus > .promoCardText,
.promoHover:hover > .promoCardText {
  transition: 0.2s;
  opacity: 0.5;
}
