@font-face {
    font-family: 'raleway';
    src: local('raleway'), url("./Fonts/raleway.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'raleway';
    src: local('raleway'), url("./Fonts/raleway.woff2") format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'raleway-500';
    src: local('raleway-500'), url("./Fonts/raleway-500.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'raleway-500';
    src: local('raleway-500'), url("./Fonts/raleway-500.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'raleway-500';
    src: local('raleway-500'), url("./Fonts/raleway-500.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'm-plus-1p';
    src: local('m-plus-1p'), url("./Fonts/m-plus-1p.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'm-plus-1p';
    src: local('m-plus-1p'), url("./Fonts/m-plus-1p.woff") format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'm-plus-1p-500';
    src: local('m-plus-1p'), url("./Fonts/m-plus-1p-500.woff") format('woff1');
    font-weight: 500;
}

@font-face {
    font-family: 'm-plus-1p-500';
    src: local('m-plus-1p'), url("./Fonts/m-plus-1p-500.woff") format('woff2');
    font-weight: 500;
}



